body {
	padding : 0;
	margin : 0;
}

.widget {
	display : none;
}
.widget.active {
	display : block;
}

.widget.front {
	
}

.widget.back {
	margin: 10px;
	width:214px;
	height: 214px;
	border: 9px black solid;
	border-radius: 214px;
	background-color: #eef;
}

/* These CSS styles all apply to the SVG elements defined below */
#clock {
	/* styles for everything in the clock */
	stroke: black;
	/* black lines */
	stroke-linecap: round;
	/* with rounded ends */
	fill: #eef;
/* on a light blue gray background */
}
#face { stroke-width: 3px;}
/* clock face outline */
#ticks { stroke-width: 2; }
/* lines that mark each hour */
#hourhand {stroke-width: 5px;}
/* wide hour hand */
#minutehand {stroke-width: 3px;} /* narrow minute hand */
#secondhand {stroke-width: 1px;}
#numbers {
	/* how to draw the numbers */
	font-family: sans-serif; font-size: 7pt; font-weight: bold;
	text-anchor: middle; stroke: none; fill: black;
}

#infobutton {
	position:absolute;
	top:155px;
	left:108px;
	padding:10px;
	background:10px 10px url('black_rollie.png') no-repeat;
}
#pref {
	width: 100%;
	margin-top: 90px;
}
#pref .row {
	text-align:center;
}